body {
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 50px;
  width: 1500px;
  height: 600px;
  background-image: url(../img/ocean.png);
  background-size: cover;
}

#game-content {
  animation: slide 10s linear infinite;
  display: none;
  position: relative;
}

@keyframes slide {
  0% {
    background-position: -1000px 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}

#instructions {
  display: none;
}

#credits {
  display: none;
}

#game-lose {
  display: none;
}

#game-win {
  display: none;
}

/* HIDE UP AND DOWN BUTTONS FROM INPUTS */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
