body {
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 100px;
  background-color: lightsteelblue;
  width: 1000px;
  height: 500px;
}

#game-content {
  display: none;
  position: relative;
}

#game-lose {
  display: none;
}

#game-win {
  display: none;
}
